{% extends 'store/base.html' %}
{% load static%}
{%block title%}Store{%endblock title%}

{% block main-content %}
<div class="container-fluid main-container">
    {% for product in products %}
    <div class="product-card">
        <div class="img">
            <a href=""><img src="{{product.product_image.url}}" alt="" height="310px" width="220px"></a>
        </div>
        <div class="des">
            <div class="description">
                <h5 class="text-white my-font-title" >Title: {{product.title}}</h5>
                <p class="text-white">{{product.description}}</p>
                <h5 class="text-white">Price: {{product.price}} Tk</h5>
            </div>
            <div class="button">
                <a href="" class="btn btn-light add-cart">Add To Cart</a>
                <a href="" class="btn btn-info buy-now">Buy Now</a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
<nav aria-label="Page navigation example">
    <h6 class="text-white text-center" >Page {{products.number}} of {{products.paginator.num_pages}}</h6>
    <ul class="pagination justify-content-center">
      <li class="page-item">
        {% if products.has_previous %}
        <a class="page-link" href="?page={{products.previous_page_number}}" aria-label="Previous">
          <span aria-hidden="true">&laquo;</span>
          <span class="sr-only">Previous</span>
        </a>
        {% endif %}
      </li>
      <li class="page-item"><a class="page-link" href="?page=1">1</a></li>
      <li class="page-item"><a class="page-link" href="?page=2">2</a></li>
      <li class="page-item"><a class="page-link" href="?page=3">3</a></li>
      <li class="page-item">
        {% if products.has_next %}
        <a class="page-link" href="?page={{products.next_page_number}}" aria-label="Next">
          <span aria-hidden="true">&raquo;</span>
          <span class="sr-only">Next</span>
        </a>
        {% endif %}
      </li>
    </ul>
  </nav>
{%endblock main-content %}